defaults
  mode http
  timeout connect 3s
  timeout client 30s
  timeout server 30s
frontend fe
  bind *:80
  default_backend app
backend app
  balance roundrobin
  server-template app- 3 app:80 check resolvers docker init-addr libc,none
resolvers docker
  nameserver dns 127.0.0.11:53
